*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #e6e6ea;
}

.container{
   padding: 10px; 
   overflow:hidden;
   background-color: #fe4a49;
}

 h1{
    float: left;
    margin-left: 10%;
    color: black;
}

.container ul{ 
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding-right: 42px;
}

.container li{
    margin-top: 10px;
    float: left;
    padding: 0 45px 0 45px;
}

.container li:hover{
    background-color: aquamarine;
}

.container a {
    text-decoration: none;
    color: black;
}
.current a::after{
    content: '_';
    background-color: white;
    font-size: 4px;
    display: block;

}

.logo{
    height: 48px;
    float: left;
    margin: 16px 48px;
}

.box1,.box2,.box3,.box4,.box5,.box6 {
    background: whitesmoke;
}

.departments div{
    padding: 30px;
}

.departments{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit), minmax(200px, 1fr) ;
    
}

h4{
    padding: 10px;
}